@charset "utf-8";
/* CSS Document */

body {
	padding:20px;
	margin:0px;
}

.Container_Big {
	padding:20px;
	overflow:hidden;
	min-width:720px;
	background:#eee;
}

.Team_Inteoduce {
	float:left;
	margin-left:220px;
	margin-right:140px;
	padding:20px;
	background:#FFF;
}
.Team_Inteoduce p {
	margin:0px;
}

.Team_Name {
	float:left;
	width:160px;
	margin-left:-100%;
	padding:20px;
	background:#FFF;
	height:80px;
}
.Team_Name p {
	position:relative;
	left:98px;
	bottom:100px;
}

.Personal {
	float:left;
	width:80px;
	margin-left:-122px;
	padding:10px 20px;
	background:#FFF;
}
.Personal img {
	margin:10px 0px;
	}

div,img {
	border:#999 thin solid;
}