<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>潜游时光-客户信息收集</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="./element-ui2.0.4.min.css">
  <link rel="stylesheet" href="./row.min.css">
  <link rel="stylesheet" href="./gather.css">
</head>
<body>
  <!-- 导航栏 -->
  <header>
    <a href="http://112.74.92.97/"><img src="./logo.png"/></a>
    <div class="tell-header">服务咨询 :<a href="tel://4006709078"> 400-9688-768</a></div>
  </header>

<div id="main" style="display: none;">
  <div id="part1" class="part1 main" v-if="isShow">
    <div class="main-content">
      <qr-code 
        :name="adminInfo.name"
        :webchat="adminInfo.webchat"
        :qrimg="adminInfo.qrimg"
      ></qr-code>
      <div class="part1-title">条款声明</div>
      <div class="part1-content">
        <div class="row">1、<span class="strong">潜游时光通过网络为客人提供代定服务。如用户预定的相关服务项目中，最终服务的酒店或者度假村以及其他一日游，包船等服务商提供的服务出现纠纷，本公司并不承担责任，</span>但本公司将尽力协助客人与相关服务提供商进行协调，不能协商解决的，客人可以向当地旅游局或通过法律途径解决。</div>
        <div class="row">2、潜游时光提供的只是代预定服务，如最终不能顺利代客人预定到相关产品，潜游时光将无条件退还客人为预定该项目所支付的全额款项，但潜游时光不承担任何由此产生的、可能对行程产生影响的后果和责任，如不能接受此政策，请勿在本店铺选择潜游的服务或拍下并支付任何款项。</div>
        <div class="row">3、关于套餐预定之外的其他一切额外要求，如蜜月布置、楼层房间相邻或朝向的指定，无(或可吸)烟房等，一律以登记入住时，酒店实际安排为准，<span class="strong">潜游时光只提供代备注的协助，并无决定或满足以上要求的权利。</span></div>
        <div class="row">4、在给买家提供的免费咨询服务过程中，除报价以外的其他信息，如行程评点建议，航班信息、各国签证情况、酒店信息(如酒店位置、房间上网收费否、房间面积数等设施配置等信息)等，<span class="strong">我们的回复仅供客人选择参考，不构成任何推荐责任。如提供参考信息有不符，请分别以航空公司和度假村官网或实际情况为准。</span></div>
        <div class="row">5、<span class="strong">潜游时光保留可更改网店上显示价格的权利，恕不另行通知。另外本店已经确认了您的预定并接受了您的付款，但本店仍保留取消订单及返还您已付款项的权利。</span></div>
        <div class="row">6、本店对客人在度假村的服务范围内所遇到的替代性的安排一概不承担任何责任。在任何情况下，潜游时光的赔偿与退款都不会超出您支出的费用。</div>
        <div class="row">7、通常情况下，潜游时光的电子确认单内容不会超过淘宝产品页注明的包含内容(住宿，潜水和接送等)，如有额外支付费用预定项目和接送服务请和客服仔细确认。没有特殊说明的情况下，均按网站页面显示的套餐包含内容执行。</div>
        <div class="row">8、请详细阅读网站的服务政策，如您在本网站支付了预定款项，代表您已<span class="strong">审慎阅读、充分理解并</span>同意接受以上之政策。只有您理解并同意，您才选择我们的服务，谢谢理解。</div>
        <div class="row">9、最后，感谢您通过潜游时光来预定您的行程，预祝您游玩愉快。</div>
        <div class="row">10、<span class="strong">如果您未满18周岁，请在法定监护人的陪同下阅读本协议并进行网站注册、使用相关服务。</span></div>
        <div class="row">11、<span class="strong">本条款内容中以黑体、加粗、下划线、斜体、红色字体等方式显著标识的条款，请用户着重阅读。</span></div>
      </div>
      <div class="Terms no-select">
        <input type="checkbox" id="Terms" v-model="checked"/>
        <label for="Terms">我已阅读并同意以上条款</label>
      </div>
    </div>
    <div class="main-control">
      <div class="control-next no-select" v-on:click="toNext">填写基本信息 →</div>
    </div>
  </div>

  <div id="part2" class="part2 main" v-if="isShow">
    <div class="main-content">
      <qr-code 
        :name="adminInfo.name"
        :webchat="adminInfo.webchat"
        :qrimg="adminInfo.qrimg"
      ></qr-code>

      <div class="part2-orderinfor">
        <div class="part2-title">
          【一】订单信息
          <span>(入住前{{renderTimeLeft()}}天补齐余款)</span>
        </div>
        <div class="part2-content">
          <div class="row">
            <div class="col-6">订单号: {{orderinfor.orderSn}}</div>
            <div class="col-6">订单状态: {{orderinfor.payStatus}}</div>
          </div>
          <div class="row">
            <div class="col-6">套餐名称: {{orderinfor.orderName}}</div>
            <div class="col-6">周期长度: {{orderinfor.cycleLength}}</div>
          </div>
          <div class="row">
            <div class="col-6">房间数: {{orderinfor.roomNum}}</div>
            <div class="col-6">总人数: {{orderinfor.peopleNum}}</div>
          </div>
          <div class="row">
            <div class="col-6">儿童数: {{orderinfor.childNum}}</div>
            <div class="col-6">成人数: {{orderinfor.adultNum}}</div>
          </div>
          <div class="row">
            <div class="col-6">入住日期: {{orderinfor.checkIn}}</div>
            <div class="col-6">退房日期: {{orderinfor.checkOut}}</div>
          </div>
          <div class="row">
            <div class="col-6">产品金额: {{orderinfor.productAmount}}</div>
            <div class="col-6">优惠金额: {{orderinfor.discount}}</div>
          </div>
          <div class="row">
            <div class="col-12">订单总额: {{orderinfor.orderAmount}}</div>
          </div>
          <div class="row">
            <div class="col-12">计算方式: {{orderinfor.calMethod}}</div>
          </div>
          <div class="row">
            <div class="col-6">已付金额: {{orderinfor.payAmount}}</div>
            <div class="col-6">未付金额: {{orderinfor.notPayAmount}}</div>
          </div>
        </div>
      </div>

      <div class="part2-extra" v-if="extra.isHave">
        <el-tooltip placement="top">
          <div class="part2-tooltip" slot="content">
            现预定仙本那度假村的客户：<br/>
            2-3人每人赠送“保游全球”畅游海外旅行保障A计划或一次往返亚庇机场到市区酒店的接送（时间为6:05-21:55之间，超出时间需付35元夜间服务费）；<br/>
            4-7人每人赠送“保游全球”畅游海外旅行保障A计划和一次往返亚庇机场到市区酒店的接送（时间不限）；<br/>
            注: <br/>
            1. 免费提供给客户的是1-10天的A计划，如增加天数或选择计划B，客户需自补差价；<br/>
            A计划：1-10天17元/人，11-20天29元/人，21-25天41元/人，26-30天58元/人。<br/>
            B计划：1-10天28元/人，11-20天41元/人，21-25天52元/人，26-30天73元/人。<br/>
            2. 如未填写亚庇接送，默认赠送保险。
          </div>
          <div class="part2-title">
            【二】额外赠送
            <span>(如需修改保险/接送信息，请联系客服)</span>
          </div>
        </el-tooltip>
        <div class="part2-content">
          <div class="extra-insurance row" v-if="extra.isHaveInsurance">
            <div class="col-6">赠送保险: <span>“保游全球”畅游海外旅行保障A计划</span></div>
            <div class="col-6">保险期间: <span>{{extra.insurance}}</span></div>
          </div>
          <div class="extra-transfers" v-if="extra.isHaveTransfers">
            <div class="transfers-desc">
              接送: <span>(1次往返亚庇机场--市区酒店的接送,免费接机时间段为6:05-21:55，超出时间需另付35元)</span>
            </div>
            <div class="transfers-info">{{extra.transfers}}</div>
          </div>
        </div>
      </div>

      <div class="part2-orderinput">
        <div class="part2-title">【{{extra.isHave ? '三' : '二'}}】下单信息</div>
        <div class="part2-content">
          <div class="row">
            <div class="col-6">
              <input type="text" v-model="signName" v-bind:class="isSignNameError ? 'inputerror' : ''" name="signName" placeholder='请填写预定人姓名'>
              <label for="signName">预定人姓名(必填)</label>
              <div class="error">{{signNameError}}</div>
            </div>
            <div class="col-6">
              <input type="text" v-model="pinyinName" v-bind:class="isPinyinNameError ? 'inputerror' : ''" name="pinyinName" placeholder='请填写预定人拼音'>
              <label for="pinyinName">预定人拼音(必填)</label>
              <div class="error">{{pinyinNameError}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <input type="text"v-model="mobile" v-bind:class="isMobileError ? 'inputerror' : ''"  name="mobile" placeholder='请填写预定人预定人手机号码/电话'>
              <label for="mobile">预定人手机号码/电话(必填)</label>
              <div class="error">{{mobileError}}</div>
            </div>
            <div class="col-6">
              <input type="text"v-model="email" v-bind:class="isEmailError ? 'inputerror' : ''"  name="email" placeholder='请填写预定人邮箱'>
              <label for="email">预定人邮箱(必填)</label>
              <div class="error">{{emailError}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <input type="text"v-model="payAccount" v-bind:class="isPayAccountError ? 'inputerror' : ''"  name="payAccount" placeholder='请填写付款人账号'>
              <label for="payAccount">付款人账号(淘宝/支付宝/微信)</label>
              <div class="error">{{payAccountError}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="part2-flightinput">
        <div class="part2-title">
          【{{extra.isHave ? '四' : '三'}}】航班信息
          <span>(若未订航班,请日后补充/可参考以下接送时间)</span>
        </div>
        <div class="part2-content">
          <div class="row flight-message">
            <div class="col-4">
              上岛日期: {{flightinfor.checkIn}}
            </div>
            <div class="col-4">
              离岛日期: {{flightinfor.checkOut}}
            </div>
            <div class="col-4">
              行程套餐: {{flightinfor.cycleLength}}
            </div>
          </div>

          <!-- 国际航班号（入境） -->
          <div class="row" v-if="template === 3">
            <div class="col-4">
              <div class="flight-descri">马来西亚抵达日期</div>
              <div class="flight-picker">
                <el-date-picker
                  v-model="landDate" 
                  :editable="false" 
                  type="date" 
                  placeholder="选择日期" 
                />
              </div>
            </div>
            <div class="col-4">
              <div class="flight-descri">抵达航班号</div>
              <div class="flight-picker">
                <el-input v-model="outboundNum" placeholder="请输入航班号" />
              </div>
            </div>
            <div class="col-4">
              <div class="flight-descri">时间</div>
              <div class="flight-picker">
                <el-time-picker 
                  v-model="landTime"
                  format="HH:mm" 
                  placeholder="请选择" 
                  :editable="false" 
                />
              </div>
            </div>
          </div>

          <!-- 到港航班号 -->
          <div class="row">
            <div class="col-4">
              <div class="flight-descri">{{flightName}}抵达日期</div>
              <div class="flight-picker">
                <el-date-picker
                  v-model="hLandDate" 
                  :editable="false" 
                  type="date" 
                  placeholder="选择日期" 
                />
              </div>
            </div>
            <div class="col-4">
              <div class="flight-descri">抵达航班号</div>
              <div class="flight-picker">
                <el-input v-model="inHarbourNum" placeholder="请输入航班号" />
              </div>
            </div>
            <div class="col-4">
              <div class="flight-descri">时间</div>
              <div class="flight-picker">
                <el-time-picker 
                  v-model="hLandTime"
                  format="HH:mm" 
                  placeholder="请选择" 
                  :editable="false" 
                />
              </div>
            </div>
          </div>

          <!-- 离港航班号 -->
          <div class="row">
            <div class="col-4">
              <div class="flight-descri">{{flightName}}离开日期</div>
              <div class="flight-picker">
                <el-date-picker
                  v-model="hTakeoffDate" 
                  :editable="false" 
                  type="date" 
                  placeholder="选择日期" 
                />
              </div>
            </div>
            <div class="col-4">
              <div class="flight-descri">离开航班号</div>
              <div class="flight-picker">
                <el-input v-model="outHarbourNum" placeholder="请输入航班号" />
              </div>
            </div>
            <div class="col-4">
              <div class="flight-descri">时间</div>
              <div class="flight-picker">
                <el-time-picker 
                  v-model="hTakeoffTime"
                  format="HH:mm" 
                  placeholder="请选择" 
                  :editable="false" 
                />
              </div>
            </div>
          </div>

          <!-- 国际航班号（出境） -->
          <div class="row" v-if="template === 3">
            <div class="col-4">
              <div class="flight-descri">马来西亚离开日期</div>
              <div class="flight-picker">
                <el-date-picker
                  v-model="takeoffDate" 
                  :editable="false" 
                  type="date" 
                  placeholder="选择日期" 
                />
              </div>
            </div>
            <div class="col-4">
              <div class="flight-descri">离开航班号</div>
              <div class="flight-picker">
                <el-input v-model="inboundNum" placeholder="请输入航班号" />
              </div>
            </div>
            <div class="col-4">
              <div class="flight-descri">时间</div>
              <div class="flight-picker">
                <el-time-picker 
                  v-model="takeoffTime"
                  format="HH:mm" 
                  placeholder="请选择" 
                  :editable="false" 
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <input type="text" v-model="flightNote" name="flightNote" placeholder='如有中转，请填写斗湖或仙本那地区的中转酒店（中英文名称）'>
              <label for="flightNote">备注</label>
            </div>
          </div>
        </div>
      </div>

      <div class="part2-pickup">
        <div class="part2-title">
          度假村接送时间
        </div>
        <div class="part2-content">
          <div class="pickUp" v-if="template === 1">
            <div class="pickUptop">
              <div class="pickUpP1">
                <div class="pickUp-title">斗湖机场--中转酒店</div>
                <div>① 提前一天15：00前到达的航班仅接送至斗湖市区HERITAGE HOTEL（需提供预订码），或者送至仙本那的SEAFEST HOTEL与DRAGON INN。</div>
                <div>② 提前一天15：00后到达的航班仅接送至斗湖市区的HERITAGE HOTEL（需要提供入住预订码）</div>
              </div>
              <div class="pickUpP2">
                <div class="pickUp-title">仙本那码头上岛时间</div>
                <div>① 10：00</div>
                <div>② 12：00</div>
                <div>③ 16：30</div>
                <div class="pickUp-title">中转酒店接送时间:</div>
                <div>① 住斗湖酒店的客人7：30AM在酒店大堂等待接送</div>
                <div>② 住仙本那酒店的客人9：00AM在酒店大堂等待接送</div>
              </div>
              <div class="pickUpP3">
                <div class="pickUp-title">马达京度假村离岛时间</div>
                <div>11：00/14：00</div>
                <div class="pickUp-title">马达京度假村--中转酒店</div>
                <div>① 离岛后可送至斗湖市区的酒店</div>
                <div>② 离岛后可送至仙本那海丰酒店和DRAGON INN。</div>
                <div class="pickUp-title">马达京度假村--机场</div>
                <div>① 离岛当天可送至机场，离岛后第二天起请自行前往机场。</div>
              </div>
            </div>
            <div class="pickUpBot"><div class="PUBall">离岛航班推荐：</div>
            <div>&nbsp;&nbsp;&nbsp;乘11点的船离岛，请买15点后的航班;</div>
            <div>&nbsp;&nbsp;&nbsp;乘14点的船离岛，请买18点后的航班;</div></div>
          </div>
          <div class="pickUp" v-if="template === 8">
            <div class="pickUptop">
              <div class="pickUpP1">
                <div class="pickUp-title">仙本那码头上岛时间</div>
                <div>① 10：00</div>
                <div>② 12：00</div>
                <div>③ 16：30</div>
                <div>11：00后到达斗湖的航班需第二天上岛；</div>
                <div>提前一天17：00前到达的航班可送至仙本那</div>
              </div>
              <div class="pickUpP2">
                <div class="pickUp-title">中转酒店接送时间</div>
                <div>① 住斗湖酒店的客人7：00AM在酒店大堂等待接送</div>
                <div>② 住仙本那酒店的客人9：30AM在酒店大堂等待接送</div>
              </div>
              <div class="pickUpP3">
                <div class="pickUp-title">离岛船班</div>
                <div>① 06：00</div>
                <div>② 11：00</div>
                <div>③ 13：30</div>
                <div>离岛第二天不送机</div>
              </div>
            </div>
            <div class="pickUpBot">
              <div class="PUBall">离岛航班推荐：</div>
              <div>&nbsp;&nbsp;&nbsp;乘6点的船离岛，请买10点后的航班;</div>
              <div>&nbsp;&nbsp;&nbsp;乘11点的船离岛，请买15点后的航班;</div>
              <div>&nbsp;&nbsp;&nbsp;乘14点的船离岛，请买18点后的航班;</div>
            </div>
          </div>
          <div class="pickUp" v-if="template === 3">
            <div class="pickUptop">
              <div class="pickUpP1">
                <div class="pickUp-title">斗湖机场-仙本那</div>
                <div>① 提前1天到达（16：30前）可免费送至斗湖或仙本那酒店。</div>
                <div>② 提前1天到达（16：30后到）可免费送至斗湖酒店。</div>
                <div>③ 入住当天13：30 前抵达斗湖机场，可入住卡帕莱。</div>
                <div>④ 提前2天起到达不接机。</div>
              </div>
              <div class="pickUpP2">
                <div class="pickUp-title">仙本那码头上岛时间</div>
                <div>①	10：00AM</div>
                <div>② 	12：30PM</div>
                <div>③ 	15：00PM</div>
              </div>
              <div class="pickUpP3">
                <div class="pickUp-title">卡帕莱度假村离岛船班</div>
                <div>① 06：30AM</div>
                <div>② 09：30AM</div>
                <div>③ 13：30PM</div>
                <div>离岛第二天自行前往机场</div>
              </div>
            </div>
            <div class="pickUpBot">
              <div style="color: red;">温馨提示，爱的建议:</div>
              <div>①  当天上岛的客人请尽量预订最早航班到达斗湖。</div>
              <div class="PUBall">②  离岛航班推荐：</div>
              <div>&nbsp;&nbsp;&nbsp;乘6：30的船离岛，请买10:30后的航班；</div>
              <div>&nbsp;&nbsp;&nbsp;乘9：30的船离岛，请买13：30后的航班；</div>
              <div>&nbsp;&nbsp;&nbsp;乘13：30点的船离岛，请买17：30后的航班；</div>
            </div>
          </div>
          <div class="pickUp" v-if="template === 5">
            <div class="pickUptop">
              <div class="pickUpP1" style="height: 224px;">
                <div class="pickUp-title">仙本那码头上岛时间</div>
                <div>①  12:30</div>
                <div>②  16:30</div>
              </div>
              <div class="pickUpP2">
                <div class="pickUp-title">邦邦岛度假村离岛时间</div>
                <div>①  09:30</div>
                <div>②  13:00</div>
              </div>
              <div class="pickUpP3">
                <div>抵达：当天上岛，需购买15:00前到达斗湖的航班，否则无法当天上岛。</div>
                <div>离开：离岛当天离开斗湖，需预定13：30以后的航班</div>
                <div>斗湖酒店：早上8:00在酒店大堂接，乘12:30船班上岛</div>
                <div>仙本那酒店：早上11:15在酒店大堂接，乘12:30船班上岛</div>
              </div>
            </div>
            <div class="pickUpBot">
              <div class="PUBall">离岛航班推荐:</div>
              <div>&nbsp;&nbsp;&nbsp;乘9：30点的船离岛，请买13：30点后的航班；</div>
              <div>&nbsp;&nbsp;&nbsp;乘13：30点的船离岛，请买17：30点后的航班；</div>
              <div>&nbsp;&nbsp;&nbsp;提前&离岛后一天均无航班接送；</div>
            </div>
          </div>
          <div class="pickUp" v-if="template === 2 || template === 6">
            <div class="pickUptop">
              <div class="pickUpP1">
                <div class="pickUp-title">斗湖机场--仙本那</div>
                <div>① 15点之前到斗湖机场的可以接机送上岛</div>
                <div>② 提前一天15点前到斗湖机场可送到仙本那酒店（斗湖酒店需自行前往），第二天9:30在酒店大堂等接上岛。</div>
                <div>③ 其他时间到达，需自行前往酒店。</div>
              </div>
              <div class="pickUpP2">
                <div class="pickUp-title">仙本那码头上岛时间</div>
                <div>① 10：00AM</div>
                <div>② 12：30PM</div>
                <div>③ 16：30PM</div>
              </div>
              <div class="pickUpP3">
                <div class="pickUp-title">马布岛度假村—机场</div>
                <div>① 07：30AM</div>
                <div>② 11：00AM</div>
                <div>③ 14：00PM</div>
                <div>离岛第二天不送机</div>
              </div>
            </div>
            <div class="pickUpBot">
              <div class="PUBall">离岛航班推荐：</div>
              <div>&nbsp;&nbsp;&nbsp;乘6：00的船离岛，请买10：00后的航班；</div>
              <div>&nbsp;&nbsp;&nbsp;乘11：00的船离岛，请买15：00后的航班；</div>
              <div>&nbsp;&nbsp;&nbsp;乘13：30的船离岛，请买17：30后的航班；</div>
            </div>
          </div>
          <div class="pickUp" v-if="template === 7">
            <div class="pickUptop">
              <div class="pickUpP1" style="height: 120px;">
                <div class="pickUp-title">仙本那码头上岛时间</div>
                <div>①  12:30</div>
                <div>②  16:30</div>
              </div>
              <div class="pickUpP2" style="height: 120px;">
                <div class="pickUp-title">邦邦岛度假村离岛时间</div>
                <div>①  06:30</div>
                <div>②  09:30</div>
                <div>③  13:30</div>
              </div>
              <div class="pickUpP3" style="height: 120px;">
                <div>当天上岛的客人按到达的时间接送至仙本那码头（超过14：30 后到达的航班当天不安排上岛，但是可以送往仙本那酒店）</div>
              </div>
            </div>
            <div class="pickUpBot">
              <div style="color: red;">离岛航班推荐</div>
              <div>&nbsp;&nbsp;&nbsp;乘6：30的船离岛买10：30后的航班</div>
              <div>&nbsp;&nbsp;&nbsp;乘9：30的船离岛买13：30后的航班</div>
              <div>&nbsp;&nbsp;&nbsp;乘13：30的船离岛买17：30后的航班。</div>
            </div>
          </div>
          <div class="pickUp" v-if="template === 9">
            <div class="pickUptop">
              <div class="pickUpP1" style="height: 120px;width: 50%;">
                <div class="pickUp-title" style="text-align: left;">上岛船班：</div>
                <div>10:00AM</div>
                <div class="pickUp-title" style="text-align: left;">离岛船班：</div>
                <div>7:00AM</div>
              </div>
              <div class="pickUpP3" style="height: 120px;width: 50%;">
                <div class="pickUp-title" style="text-align: left;">离岛航班推荐：</div>
                <div>建议购买11：00后离开山打根的航班，当天上岛需8：30前到达山打根。</div>
              </div>
            </div>
            <div class="pickUpBot">
                <div>08:30之前抵达山打根航班可当天送上兰卡央岛</div>
                <div>08:30之后抵达无法当天上岛，需要提前一天到并自行前往山打根住宿，次日09:30从山打根酒店接上前往码头上岛</div>
                <div>返程航班在上午11:00之前需提前一晚离岛，次日自行前往机场，如需离岛当天起飞，建议至少订中午12:00后山打根起飞的航班,如需参加西必洛半日游的，请订14点以后的航班。</div>
            </div>
          </div>
        </div>
      </div>

      <div class="part2-annex" v-if="template === 3">
        <div class="part2-title">
          附件信息
          <span>(请分别上传4个航班机票截图)</span>
        </div>
        <div class="part2-content">
          <div class="row">
            <div class="col-4">
              <div slot="tip" class="el-upload__tip">出国航班机票截图</div>
              <el-upload
                ref="uploadPT1"
                class="upload-annex"
                limit="1"
                list-type="picture"
                :file-list="annex.fileListPT1"
                :on-remove="removeUploadPT1"
                :auto-upload="false"
              >
                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                <el-button @click="submitUploadPT1" style="margin-left: 10px;" size="small" type="success" >上传到服务器</el-button>
              </el-upload>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
              <div slot="tip" class="el-upload__tip">回国航班机票截图</div>
              <el-upload
                ref="uploadPT2"
                class="upload-annex"
                limit="1"
                list-type="picture"
                :file-list="annex.fileListPT2"
                :on-remove="removeUploadPT2"
                :auto-upload="false"
              >
                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                <el-button @click="submitUploadPT2" style="margin-left: 10px;" size="small" type="success" >上传到服务器</el-button>
              </el-upload>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row">
            <div class="col-4">
              <div slot="tip" class="el-upload__tip">到达斗湖航班机票截图</div>
              <el-upload
                ref="uploadPT3"
                class="upload-annex"
                limit="1"
                list-type="picture"
                :file-list="annex.fileListPT3"
                :on-remove="removeUploadPT3"
                :auto-upload="false"
              >
                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                <el-button @click="submitUploadPT3" style="margin-left: 10px;" size="small" type="success" >上传到服务器</el-button>
              </el-upload>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
              <div slot="tip" class="el-upload__tip">离开斗湖航班机票截图</div>
              <el-upload
                ref="uploadPT4"
                class="upload-annex"
                limit="1"
                list-type="picture"
                :file-list="annex.fileListPT4"
                :on-remove="removeUploadPT4"
                :auto-upload="false"
              >
                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                <el-button @click="submitUploadPT4" style="margin-left: 10px;" size="small" type="success" >上传到服务器</el-button>
              </el-upload>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-control">
      <div v-on:click="toPrev" class="control-prev no-select">← 阅读条款声明</div>
      <div v-on:click="toNext" class="control-next no-select">下一步 →</div>
    </div>
  </div>

  <div id="part3" class="part3 main" v-if="isShow">
    <div class="main-content">
      <qr-code 
        :name="adminInfo.name"
        :webchat="adminInfo.webchat"
        :qrimg="adminInfo.qrimg"
      ></qr-code>

      <div class="part3-title">
        入住信息
        <span>还可入住 {{peopleNum - lavePeopleNum}} 人</span>
      </div>

      <div class="part3-iceinfor" v-if="template === 3">
        <div class="row">
          <div class="col-5" v-bind:class="iceNameAddition.isError ? 'dialog-error' : ''">
            <div>紧急联系人姓名(必填):</div>
            <el-input
              v-model="iceName"
              placeholder="请输入紧急联系人姓名"
            ></el-input>
            <div class="input-descr">{{iceNameAddition.message}}</div>
          </div>
          <div class="col-1"></div>
          <div class="col-6" v-bind:class="iceMobileAddition.isError ? 'dialog-error' : ''">
            <div>紧急联系人手机(必填):</div>
            <el-input v-model="iceMobile" placeholder="请输入紧急联系人手机"></el-input>
            <div class="input-descr">{{iceMobileAddition.message}}</div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-5" v-bind:class="iceEmailAddition.isError ? 'dialog-error' : ''">
            <div>紧急联系人邮箱(必填):</div>
            <el-input v-model="iceEmail" placeholder="请输入紧急联系人邮箱"></el-input>
            <div class="input-descr">{{iceEmailAddition.message}}</div>
          </div>
          <div class="col-1"></div> -->
          <div class="col-12" v-bind:class="iceRelationAddition.isError ? 'dialog-error' : ''">
            <div>紧急联系人关系(必选):</div>
            <el-select
              v-model="iceRelation" 
              placeholder="请选择紧急联系人关系"
            >
              <el-option key="兄弟姐妹" label="兄弟姐妹" value="兄弟姐妹"></el-option>
              <el-option key="父母" label="父母" value="父母"></el-option>
              <el-option key="夫妻" label="夫妻" value="夫妻"></el-option>
              <el-option key="朋友" label="朋友" value="朋友"></el-option>
              <el-option key="其他" label="其他" value="其他"></el-option>
            </el-select>
            <div class="input-descr">{{iceRelationAddition.message}}</div>
          </div>
        </div>

      </div>

      <div class="part3-room">
        <div class="room-list">
          <div 
            v-for="roomItem in roomList"
            v-bind:class="[roomItem.id === selectRoomNum ? 'item-active' : '', 'room-item']"
            v-on:click="selectRoomNum = roomItem.id"
          >
            {{roomItem.name}}
          </div>
        </div>
        <div class="room-right">
          <div 
            class="room-main"
            v-for="roomItem in roomList"
            v-if="roomItem.id === selectRoomNum"
          >
            <div class="room-title">{{roomItem.name}}</div>

            <div class="Add-traveler">
              <span class="Add-child" v-on:click="addTraveler('Y')">添加儿童</span>
              <span class="Add-adult" v-on:click="addTraveler('N')">添加成人</span>
            </div>

            <div class="room-bed">
              <div class="bed-description">床型</div>
              <el-select
                v-bind:class="roomItem.bedType === null ? 'bed-input-error' : ''"
                v-model="roomItem.bedType"
                placeholder="请选择床型"
              >
                <el-option v-for="bedItem in roomItem.bedOptions"
                  :key="bedItem.value"
                  :label="bedItem.label"
                  :value="bedItem.value">
                </el-option>
              </el-select>
            </div>
            <div class="room-infor" v-for="customerItem in roomItem.customerInfoList">
              <div class="infor-title">
                旅客信息{{(customerItem.id + 1)}} - {{customerItem.isKid === 'N' ? '成人' : '儿童' }}
              </div>
              <div class="infor-main">
                <div class="row">
                  <div class="col-6">姓名(中文): {{customerItem.chineseName}}</div>
                  <div class="col-6">姓名(拼音): {{customerItem.pinyinName}}</div>
                </div>
                <div class="row">
                  <div class="col-6">护照号: {{customerItem.passportNo ? customerItem.passportNo : '暂未填写' }}</div>
                  <div class="col-6">国籍: {{customerItem.nationality}}</div>
                </div>
                <div class="row">
                  <div class="col-6">生日: {{customerItem.birthday}}</div>
                  <div class="col-6" v-if="customerItem.isKid === 'N'">手机: {{customerItem.mobile ? customerItem.mobile : '暂未填写' }}</div>
                </div>
                <div class="row">
                  <div class="col-6">性别: {{customerItem.gender === 1 ? '男' : '女' }}</div>
                </div>
                <div class="row">
                  <div class="col-6">潜水类型: {{customerItem.isDive === 'Y' ? '深潜' : '浮潜' }}</div>
                </div>
                <div v-if="customerItem.isDive === 'Y'">
                  <div class="row">
                    <div class="col-6">潜水级别: {{customerItem.divingRank ? customerItem.divingRank : '暂未填写' }}</div>
                    <div class="col-6">潜水证号: {{customerItem.divingNo ? customerItem.divingNo : '暂未填写' }}</div>
                  </div>
                  <div class="row">
                    <div class="col-6">潜水次数: {{customerItem.divingCount ? customerItem.divingCount : '暂未填写' }}</div>
                    <div class="col-6">上次潜水: {{customerItem.lastDiveTime ? customerItem.lastDiveTime : '暂未填写' }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">重大病史: {{customerItem.anamnesis ? customerItem.anamnesis : '无' }}</div>
                </div>
              </div>
              <div class="infor-operate">
                <el-button v-on:click="editTraveler(customerItem)" type="primary" icon="el-icon-edit"></el-button>
                <el-button v-on:click="deleteTraveler(customerItem)" type="primary" icon="el-icon-delete"></el-button>
              </div>
            </div>
          </div>

          <div class="room-dialog">
            <el-dialog
              title="入住信息"
              width="50%"
              :visible.sync="dialogVisible"
              :close-on-click-modal="false"
            >
              <div class="row">
                <div class="col-5">
                  <div>护照号码:</div>
                  <el-input v-model="passportNo" placeholder="请输入护照号码"></el-input>
                  <div class="input-descr"></div>
                </div>
                <div class="col-1"></div>
                <div class="col-5" v-bind:class="nationaAddition.isError ? 'dialog-error' : ''">
                  <div>国籍(必选):</div>
                  <el-select
                    v-model="nationality" 
                    placeholder="请选择国籍"
                    @change="validatorNational"
                  >
                    <el-option v-for="item in nationaOptions"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                  <div class="input-descr">{{nationaAddition.message}}</div>
                </div>
                <div class="col-1"></div>
              </div>

              <div class="row">
                <div class="col-5" v-bind:class="chineseNameAddition.isError ? 'dialog-error' : ''">
                  <div>姓名/中文(必填):</div>
                  <el-input
                    v-model="chineseName"
                    placeholder="请输入姓名中文"
                  ></el-input>
                  <div class="input-descr">{{chineseNameAddition.message}}</div>
                </div>
                <div class="col-1"></div>
                <div class="col-5" v-bind:class="pinyinNameAddition.isError ? 'dialog-error' : ''">
                  <div>姓名/拼音(必填):</div>
                  <el-input v-model="pinyinName" placeholder="请输入姓名拼音"></el-input>
                  <div class="input-descr">{{pinyinNameAddition.message}}</div>
                </div>
                <div class="col-1"></div>
              </div>

              <div class="row">
                <div class="col-5">
                  <div>性别(必填):</div>
                  <div class="input-radio">
                    <el-radio v-model="gender" :label="1">男</el-radio>
                    <el-radio v-model="gender" :label="2">女</el-radio>
                  </div>
                </div>
                <div class="col-1"></div>
                <div class="col-5" v-bind:class="birthdayAddition.isError ? 'dialog-error' : ''">
                  生日(必选):
                  <el-date-picker
                    v-model="birthday"
                    type="date"
                    :editable="false"
                    placeholder="选择日期"
                    @change="validatorBirthday"
                  ></el-date-picker>
                  <div class="input-descr">{{birthdayAddition.message}}</div>
                </div>
                <div class="col-1"></div>
              </div>

              <div class="row" v-if="isKid === 'N'">
                <div class="col-11" v-bind:class="mobileAddition.isError ? 'dialog-error' : ''">
                  <div>手机(必填):</div>
                  <el-input
                    v-model="mobile"
                    placeholder="请输入手机号码"
                    @change="validatorMobile"
                  ></el-input>
                  <div class="input-descr">{{mobileAddition.message}}</div>
                </div>
                <div class="col-1"></div>
              </div>

              <div class="row switch-dive" v-if="template !== 15">
                <div>度假潜水类型:</div>
                <el-switch
                  v-model="isDive"
                  active-text="深潜"
                  inactive-text="浮潜">
                </el-switch>
              </div>

              <div v-if="isDive">
                <div class="row">
                  <div class="col-5">
                    <div>潜水级别:</div>
                    <el-select v-model="divingRank" placeholder="请选择潜水级别">
                      <el-option
                        key="OW"
                        label="OW"
                        value="OW"
                      ></el-option>
                      <el-option
                        key="AOW及以上"
                        label="AOW及以上"
                        value="AOW及以上"
                      ></el-option>
                    </el-select>
                    <div class="input-descr"></div>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-5">
                    <div>潜水证号:</div>
                    <el-input v-model="divingNo" placeholder="请输入潜水证号"></el-input>
                    <div class="input-descr"></div>
                  </div>
                  <div class="col-1"></div>
                </div>

                <div class="row">
                  <div class="col-5">
                    <div>上次潜水时间:</div>
                    
                    <el-date-picker
                      v-model="lastDiveTime"
                      type="date"
                      :editable="false"
                      placeholder="选择日期"
                    ></el-date-picker>
                    <div class="input-descr"></div>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-5">
                    <div>潜水次数:</div>
                    <el-input v-model="divingCount" placeholder="请输入潜水次数"></el-input>
                    <div class="input-descr"></div>
                  </div>
                  <div class="col-1"></div>
                </div>
              </div>

              <div class="row" v-if="template !== 15">
                <div class="col-11">
                  <div>以往重大病史:</div>
                  <el-input v-model="anamnesis" placeholder="无"></el-input>
                  <div class="input-descr"></div>
                </div>
                <div class="col-1"></div>
              </div>
            
              <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button @click="dialogSave" type="primary">确 定</el-button>
              </span>
            </el-dialog>
          </div>
        </div>
      </div>
    </div>

    <div class="main-control">
      <div v-on:click="toPrev" class="control-prev no-select">← 上一步</div>
      <div v-on:click="toNext" class="control-next no-select">下一步 →</div>
    </div>
  </div>

  <div id="part4" class="part4 main" v-if="isShow">
    <div class="main-content">
      <qr-code 
        :name="adminInfo.name"
        :webchat="adminInfo.webchat"
        :qrimg="adminInfo.qrimg"
      ></qr-code>

      <div class="part4-title">特别注意</div>

      <div class="part4-Refundinstruction">

        <div class="Refundinstruction-1" v-if="template === 1 || template === 4 || template === 5 || template === 8">
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">1. 退款说明：</div>
            <div class="row">· 预定成功后定金不退，退订扣除定金（入住前46天补余款）</div>
            <div class="row">· 入住前35天以上退订，需要扣除全款的30%</div>
            <div class="row">· 入住前34-16天退订，需要扣除全款的50%</div>
            <div class="row">· 入住前15-8天退订，需要扣除全款的75%</div>
            <div class="row">· 入住前7-入住日，扣除100%全款。</div>
          </div>
          <div class="Refundinstruction-content Refundinstruction-title">2. 因各个度假村上岛时间及接送安排不同，预定机票时请咨询我们的顾问</div>
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">3. 免责声明：</div>
            <div class="row">我们对自身掌控范围之外的原因直接或间接给客人造成的延迟、额外费用或不便不承担责任</div>
          </div>
          <div class="Refundinstruction-content">具体请参考潜游时光淘宝店里“政策说明”页面</div>
          <div class="Refundinstruction-content" style="color: red">如您在本店铺支付了预订款项，代表您已同意以上政策，谢谢理解</div>
        </div>

        <div class="Refundinstruction-2" v-if="template === 2 || template === 6">
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">1. 退款说明：</div>
            <div class="row">· 预定成功后定金不退，退订扣除定金（入住前46天补余款）</div>
            <div class="row">· 入住前45-36天以上退订，需要扣除全款的30%</div>
            <div class="row">· 入住前34-16天退订，需要扣除全款的50%</div>
            <div class="row">· 入住前15-8天退订，需要扣除全款的75%</div>
            <div class="row">· 入住前7-入住日，扣除100%全款</div>
          </div>
          <div class="Refundinstruction-content Refundinstruction-title">2. 因各个度假村上岛时间及接送安排不同，预定机票时请咨询我们的顾问</div>
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">3. 免责声明：</div>
            <div class="row">我们对自身掌控范围之外的原因直接或间接给客人造成的延迟、额外费用或不便不承担责任</div>
          </div>
          <div class="Refundinstruction-content">具体请参考潜游时光淘宝店里“政策说明”页面</div>
          <div class="Refundinstruction-content" style="color: red">如您在本店铺支付了预订款项，代表您已同意以上政策，谢谢理解</div>
        </div>

        <div class="Refundinstruction-3" v-if="template === 3 || template === 9">
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">1. 退款说明：</div>
            <div class="row">· 预定成功后定金不退，退订扣除定金（入住前35天补余款）</div>
            <div class="row">· 入住前34-16天退订，需要扣除全款的30%</div>
            <div class="row">· 入住前15-8天退订，需要扣除全款的50%</div>
            <div class="row">· 入住前7-入住日，扣除100%全款</div>
            <div class="row">· 入住当天退订，需要扣除100%全款</div>
          </div>
          <div class="Refundinstruction-content Refundinstruction-title">2. 因各个度假村上岛时间及接送安排不同，预定机票时请咨询我们的顾问</div>
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">3. 免责声明：</div>
            <div class="row">我们对自身掌控范围之外的原因直接或间接给客人造成的延迟、额外费用或不便不承担责任</div>
          </div>
          <div class="Refundinstruction-content">具体请参考潜游时光淘宝店里“政策说明”页面</div>
          <div class="Refundinstruction-content" style="color: red">如您在本店铺支付了预订款项，代表您已同意以上政策，谢谢理解</div>
        </div>

        <div class="Refundinstruction-4" v-if="template === 7">
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">1. 退款说明：</div>
            <div class="row">· 预定成功后定金不退，退订扣除定金（入住前35天补余款）</div>
            <div class="row">· 入住前34-16天退订，需要扣除全款的30%</div>
            <div class="row">· 入住前15-天退订，扣除100%全款</div>
          </div>
          <div class="Refundinstruction-content Refundinstruction-title">2. 因各个度假村上岛时间及接送安排不同，预定机票时请咨询我们的顾问</div>
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">3. 免责声明：</div>
            <div class="row">我们对自身掌控范围之外的原因直接或间接给客人造成的延迟、额外费用或不便不承担责任</div>
          </div>
          <div class="Refundinstruction-content">具体请参考潜游时光淘宝店里“政策说明”页面</div>
          <div class="Refundinstruction-content" style="color: red">如您在本店铺支付了预订款项，代表您已同意以上政策，谢谢理解</div>
        </div>

        <div class="Refundinstruction-4" v-if="template === 11 || template === 12 || template === 13 || template === 14">
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">1. 退款说明：</div>
            <div class="row">· 出发前46天(不含)以上买家通知取消，收取订单30%的费用</div>
            <div class="row">· 出发前45天至20天买家通知取消，收取订单50%的费用</div>
            <div class="row">· 出发前19天以内买家通知取消，收取订单100%的费用</div>
          </div>
          <div class="Refundinstruction-content Refundinstruction-title">2. 因各个度假村上岛时间及接送安排不同，预定机票时请咨询我们的顾问</div>
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">3. 免责声明：</div>
            <div class="row">我们对自身掌控范围之外的原因直接或间接给客人造成的延迟、额外费用或不便不承担责任</div>
          </div>
          <div class="Refundinstruction-content">具体请参考潜游时光淘宝店里“政策说明”页面</div>
          <div class="Refundinstruction-content" style="color: red">如您在本店铺支付了预订款项，代表您已同意以上政策，谢谢理解</div>
        </div>

        <div class="Refundinstruction-4" v-if="template === 15">
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">1. 退款说明：</div>
            <div class="row">· 出发前45天(不含)以上买家通知取消，收取订单20%的费用</div>
            <div class="row">· 出发前45天至35天买家通知取消，收取订单30%的费用</div>
            <div class="row">· 出发前34天至16天买家通知取消，收取订单50%的费用</div>
            <div class="row">· 出发前15天至8天买家通知取消，收取订单75%的费用</div>
            <div class="row">· 出发前7天以内买家通知取消，收取订单100%的费用</div>
          </div>
          <div class="Refundinstruction-content Refundinstruction-title">2. 因各个度假村上岛时间及接送安排不同，预定机票时请咨询我们的顾问</div>
          <div class="Refundinstruction-content">
            <div class="Refundinstruction-title">3. 免责声明：</div>
            <div class="row">我们对自身掌控范围之外的原因直接或间接给客人造成的延迟、额外费用或不便不承担责任</div>
          </div>
          <div class="Refundinstruction-content">具体请参考潜游时光淘宝店里“政策说明”页面</div>
          <div class="Refundinstruction-content">注：如按上述比例支付的业务损失费不足以赔偿卖家的实际损失，买家应当按实际损失对卖家予以赔偿，但最高额不应当超过订单费用总额。</div>
          <div class="Refundinstruction-content" style="color: red">如您在本店铺支付了预订款项，代表您已同意以上政策，谢谢理解</div>
        </div>

      </div>
      <div class="part4-Related">

        <div class="Related-1" v-if="template === 1">
          <div class="Related-title">关于诗巴丹：</div>
          <div class="row">1、船费（不含6%消费税）：一人1200马币，2人600马币/人，3人400马币/人，4人300马币/人，5人260马币/人，6或7人230马币/人</div>
          <div class="row">2、拼船价格需当天依度假村的具体安排为准</div>
          <div class="row">3、诗巴丹名额一经预约（预订房间时让客服帮忙预约），就不可取消，你到达度假村后，都需要支付这个费用，务必考虑清楚</div>
          <div class="row">4、诗巴丹名船费在马达京现付，预约成功，是不能取消不付费的</div>
          <div class="row">5、诗巴丹上岛费40马币（不含6%消费税）每人需现付</div>
          <div class="row">6、马达京到诗巴丹船程约80分钟</div>
        </div>

        <div class="Related-2" v-if="template === 8">
          <div class="Related-title">关于诗巴丹：</div>
          <div class="row">入住5天4晚及以上的成年客人，预定房间时每人支付80人民币，可保证每人1天诗巴丹之旅</div>
          <div class="row">任何额外的名额分配仅在入住度假村后确认，费用为146马币每人/天，12岁以下不能确保名额</div>
          <div class="row">申请诗巴丹名额，需提前告知客服，一天诗巴丹为四潜安排</div>
        </div>

        <div class="Related-3" v-if="template === 3">
          <div class="Related-title">关于诗巴丹：</div>
          <div class="row">一、有潜水员证</div>
          <div class="row">二、有20潜或以上的记录</div>
          <div class="row">三、预订卡帕莱5天4晚或以上的深潜套餐</div>
        </div>

        <div class="Related-4" v-if="template === 4">
          <div class="Related-title">关于诗巴丹：</div>
          <div class="row">诗巴丹许可证每天配额有限，请提早预订</div>
          <div class="row">2人间住3晚保证一次诗巴丹</div>
          <div class="row">入住4人间，不含诗巴丹，可另付530马币/人/天前往（已含6%消费税）</div>
          <div class="row">所有去诗巴丹的客人均需自付许可证RM40/人</div>
        </div>

        <div class="Related-5" v-if="template === 2 || template === 6">
          <div class="Related-title">关于诗巴丹许可证：</div>
          <div class="row">入住独栋和水屋5晚及以上的客人享受一日诗巴丹，优先安排水屋的潜水员，并不能保证非潜水员诗巴丹名额。</div>
          <div class="row">上岛当天可询问岛上工作人员是否被安排去诗巴丹，如果没被安排，可390马币/人购买</div>
        </div>
      </div>
    </div>
    <div class="main-control">
      <div v-on:click="toPrev" class="control-prev no-select">← 上一步</div>
      <div v-on:click="toNext" class="control-next no-select">完成 →</div>
    </div>
  </div>

  <div id="part5" class="part5 main" v-if="isShow">
    <div class="main-content">
      <qr-code 
        :name="adminInfo.name"
        :webchat="adminInfo.webchat"
        :qrimg="adminInfo.qrimg"
      ></qr-code>
      <div class="part5-alert">
        <el-alert
          title="* 度假村接受世界预订，有房请尽早下单，以免错失良机"
          type="info"
          close-text="知道了"
        ></el-alert>
        <el-alert
          title="* 查房跟订房有时间差，不保证能100%预订成功，预订不成功我们会退款给您"
          type="warning"
          close-text="知道了"
        ></el-alert>
      </div>
      <div class="part5-main">
        <div class="main-icon">
          <i class="el-icon-success" v-if="isSuccess"></i>
          <i class="el-icon-error" v-if="isSuccess === false"></i>
        </div>
        <div class="main-message">{{message}}</div>
        <div class="main-reason">{{reason}}</div>
        <div class="main-Button">
          <el-button v-on:click="showSuccessMessage" type="primary" v-if="isSuccess">查看提交信息</el-button>
          <el-button
            id="clipboard"
            data-clipboard-text="clipboard"
            v-on:click="clipboard" 
            type="danger" 
            v-if="isSuccess === false"
          >复制错误数据</el-button>
          <el-button v-on:click="backtrack" type="warning" v-if="isSuccess === false">返回</el-button>
        </div>
      </div>
      <div class="part5-ContactUS">
          <img src="./2Qcode.jpg">
          <div class="ContactUS-content">
            <div>潜游时光文化传媒有限公司</div>
            <div class="ContactUS-icon"><span></span><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E6%BD%9C%E6%B8%B8%E6%97%B6%E5%85%89&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=%E6%BD%9C%E6%B8%B8%E6%97%B6%E5%85%89&site=cntaobao&s=1&charset=utf-8" alt="" title="" /></a></div>
            <div class="ContactUS-icon"><span></span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2546623187&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2546623187:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></div>
          </div>
        </div>
    </div>
  </div>
</div>

<script>if(!window.Promise) {document.writeln('<script src="./es6-promise.min.js"'+'>'+'<'+'/'+'script>');}</script>
<script type="text/javascript" src="./fetch.min.js"></script>
<script type="text/javascript" src="./config.js"></script>
<script type="text/javascript" src="./ChineseHelper.js"></script>
<script type="text/javascript" src="./clipboard.min.js"></script>
<script type="text/javascript" src="./vue.min.js"></script>
<script type="text/javascript" src="./element-ui@2.0.4.js"></script>
<script type="text/javascript" src="./index.js?12321312321"></script>
</body>
</html>